body {
    font-family: 'Lato', arial, sans-serif;
    color: #434343;
    background: #dae3e7;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.section-inner {
    margin-bottom: 30px;
    background: #fff;
    padding: 30px;
    color:#434343
}
