.footer {
background-color: #007bff;
    color: white;
    padding: 10px 0;
    min-width: 100%;
    margin:0 !important;

}
.footer .copyright {
    line-height: 1.6;
    color: #a1aab4;
    font-size: 14px;
}
.footer a {
    color: #49515a;
}
.footer .fa-heart {
    color: #fb866a;
}

.navbara{
    padding:0 !important;
}