.nav-link {
  cursor: pointer;
  text-decoration: underline;
}
.nav-link>a{
color:white
}

.btn{
    maring:5px;
}
.custom-user-login{
    color:white;
}


.FormReg{
margin:0 10px;
}

.error{
    color: #ff2808;
}
